<%- include("partials/header") -%>

<div class="ui main text container segment">
    <div class="ui huge header">New shoe</div>
    <form class="ui form" action="/shoes" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" placeholder="Title" name="shoe[title]">
        </div>
        <div class="field">
            <label>Image Url</label>
            <input type="text" placeholder="Image Url" name="shoe[image]">
        </div>
        <div class="field">
            <label>shoe Content</label>
            <textarea name="shoe[body]" placeholder="Your shoe goes here..."></textarea>
        </div>
        <button class="ui violet basic button">Submit</button>
    </form>
</div>

<%- include("partials/footer") -%>
